@import "tailwindcss";

/* IMPORTANT: The document is formated as 1 comment, then code to describe where the style below it is used */
/* Each style has 1 comment to block off the below area as part of that style */


/* For the stop popup used in StopPopup.jsx */
@keyframes slide-up {
    from {
        transform: translate(-50%, 100%);
        opacity: 0;
    }

    to {
        transform: translate(-50%, 0%);
        opacity: 1;
    }
}

@keyframes slide-down {
    from {
        transform: translate(-50%, 0%);
        opacity: 1;
    }

    to {
        transform: translate(-50%, 100%);
        opacity: 0;
    }
}

.animate-slide-up {
    animation: slide-up 0.3s ease-out forwards;
}

.animate-slide-down {
    animation: slide-down 0.3s ease-in forwards;
}

/* Time fade animation used in TimeDisplay.jsx */
@keyframes fade-pulse {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.65;
    }
}

.animate-fade-pulse {
    animation: fade-pulse 1s ease-in-out;
}

/* Animates the selected stop with a ping */
@keyframes stop-ping {
    0% {
        transform: scale(1);
        opacity: 0.6;
    }

    100% {
        transform: scale(3);
        opacity: 0;
    }
}

.stop-ping {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #ff0000;
    animation: stop-ping 2s ease-out infinite;
    pointer-events: none;
}

/* For stop markers to add behaviour on hover, used in Stops2.jsx in pin */
.stop-marker-wrapper:hover .stop-marker-pin {
    transform: scale(1.4);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    z-index: 999 !important;
    /* Helps visually, even if the map doesn't respect it fully */
}