@import "tailwindcss";


/* For the stop popup used in StopPopup.jsx */
@keyframes slide-up {
    from {
        transform: translate(-50%, 100%);
        opacity: 0;
    }

    to {
        transform: translate(-50%, 0%);
        opacity: 1;
    }
}

@keyframes slide-down {
    from {
        transform: translate(-50%, 0%);
        opacity: 1;
    }

    to {
        transform: translate(-50%, 100%);
        opacity: 0;
    }
}

.animate-slide-up {
    animation: slide-up 0.3s ease-out forwards;
}

.animate-slide-down {
    animation: slide-down 0.3s ease-in forwards;
}

/* Time fade animation used in TimeDisplay.jsx */
@keyframes fade-pulse {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.65;
    }
}

.animate-fade-pulse {
    animation: fade-pulse 1s ease-in-out;
}